---
import Icon from "@ui/primitives/Icon.astro";
import Typography from "@ui/primitives/Typography.astro";

const attrs = Astro.props;
---

<button type="button" color="coolNeutral" {...attrs}>
  <span class="flex items-center gap-1">
    <Icon color="primary" getIcon={(icons) => icons.chevronLeft} />
    <Typography variant="body-2" color="primary" set:text={"Back"} />
  </span>
</button>
