---

---

<div class="max-w-6xl xl:mx-auto">
  <div class="w-full overflow-hidden">
    <div class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth">
      <slot />
    </div>
  </div>
</div>
