---
import {
  paddingXSettingMap,
  paddingYSettingMap,
  type SpaceSetting,
} from "@ui/utils/spacing";

interface Props {
  paddingX?: SpaceSetting;
  paddingY?: SpaceSetting;
}

const { paddingX, paddingY } = Astro.props;
---

<div
  class:list={[
    "basis-xs shrink-0 grow snap-center",
    "overflow-hidden",
    paddingX ? paddingXSettingMap[paddingX] : null,
    paddingY ? paddingYSettingMap[paddingY] : null,
  ]}
>
  <slot />
</div>
