---

---

<div class="max-w-7xl xl:mx-auto">
  <div class="w-full overflow-hidden">
    <div
      class="flex gap-x-4 overflow-x-auto snap-x snap-mandatory scroll-smooth p-6"
    >
      <slot />
    </div>
  </div>
</div>
