---
import { getCollection } from "astro:content";

import SitePageLayout from "@ui/layouts/SitePageLayout.astro";
import Section from "@ui/layouts/Section.astro";

import Stack from "@ui/base/Stack.astro";

import CategoryPageHeader from "../category/CategoryPageHeader.astro";
import CategorySummaryList from "../category/CategorySummaryList.astro";
import ContentBlockRenderer from "../content-block/ContentBlockRenderer.astro";

interface Props {
  categoryId: string;
  leadInContentBlockRefs?: Array<string>;
}

const { leadInContentBlockRefs, categoryId } = Astro.props;

const categories = await getCollection("categories");

const root = categories.find((x) => x.id === categoryId);
if (!root) {
  throw new Error(
    `Could not find [categoryEntry] in [categories] - [RootCategoryPage] for id: [${categoryId}]`,
  );
}
---

<SitePageLayout>
  <CategoryPageHeader categoryEntryData={root.data} />
  {
    leadInContentBlockRefs && (
      <Section colorVariant="neutral">
        <Stack>
          {leadInContentBlockRefs.map((blockId) => (
            <ContentBlockRenderer
              contentBlockRef={{
                collection: "contentBlocks",
                id: blockId,
              }}
            />
          ))}
        </Stack>
      </Section>
    )
  }
  <CategorySummaryList
    categoryRefs={root.data.subcategories}
    colorVariant="secondary"
  />
</SitePageLayout>
