---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
---

<div>
  <SignedOut>
    <SignInButton asChild>
      <button
        class:list={[
          "hover:shadow-md hover:shadow-blue-800/30 transition duration-300",
          "bg-blue-900",
          "text-start px-3",
          "rounded",
          "sm:w-full sm:text-center sm:py-1",
          "text-stone-50 font-medium",
        ]}
      >
        {"Sign In"}
      </button>
    </SignInButton>
  </SignedOut>
  <SignedIn>
    <UserButton />
  </SignedIn>
</div>
