---
interface Props {
  imageUrl: string;
  children: any;
}

const { imageUrl } = Astro.props;

const bgVar = `url(${imageUrl})`;
---

<section class:list={[`hero-img bg-center bg-no-repeat bg-cover `, "h-96"]}>
  <slot />
</section>

<style define:vars={{ bgVar }}>
  .hero-img {
    background-image: var(--bgVar);
  }
</style>
