---
import type { PortableText } from "@model/portableText";
import { toHTML } from "@portabletext/to-html";

type Props = {
  portableText: PortableText;
  classList?: Array<string>;
};

const props = Astro.props;

const htmlString = toHTML(props.portableText, {
  components: { hardBreak: false },
});
---

<div
  class:list={[
    "prose prose-wgm font-serif max-w-none prose-balance",
    ...(props.classList ?? []),
  ]}
>
  <Fragment set:html={htmlString} />
</div>
