---
import { wgmDesignSystem as ds } from "@common/design-system";
import type { InternetResourceType } from "@model/internetResource";

interface Props {
  to: string;
  label: string;
  external?: boolean;
  resourceType?: InternetResourceType;
}

const { to, label, external, resourceType } = Astro.props;

const externalLinkAttrs = external
  ? {
      rel: "noopener",
      target: "_blank",
    }
  : {};

const borderColorClass = resourceType
  ? ds.border.color?.resourceType?.[resourceType].hover
  : ds.border.color?.primary.hover;
---

<a
  {...externalLinkAttrs}
  href={to}
  class:list={[
    "font-serif italic",
    ds.typography.color?.primary.default,
    "p-2",
    "bg-white",
    "border-b-4",
    borderColorClass,
    ds.border.underline,
    ds.border.transition,
    "shadow",
  ]}
>
  {label}
</a>
