---
import { getImageUrl } from "@common/client";
import { wgmDesignSystem as ds } from "@common/design-system";
import type { SanityImage } from "@model/image";
import type { InternetResourceType } from "@model/internetResource";

interface Props {
  to: string;
  title: string;
  description: string | null;
  resourceType?: InternetResourceType;
  image: SanityImage | null;
}

const props = Astro.props;

const borderColorClass = props.resourceType
  ? ds.border.color?.resourceType?.[props.resourceType].hover
  : ds.border.color?.primary.hover;

const imageUrl =
  props.image !== null
    ? getImageUrl(props.image.image).width(640).height(450).url()
    : null;
---

<a
  href={props.to}
  class:list={[
    "font-serif",
    ds.typography.color?.primary.default,
    "p-2",
    "bg-white",
    "border-b-4",
    borderColorClass,
    ds.decoration.underline,
    ds.decoration.transition,
    "shadow-md hover:shadow-lg",
    "transition-all",
  ]}
>
  {imageUrl && <img src={imageUrl} />}
  <h3
    class:list={[
      "text-xl font-medium font-serif",
      ds.typography.color?.primary.default,
      ds.decoration.underline,
      ds.decoration.transition,
      ds.decoration.color?.primary.hover,
    ]}
  >
    {props.title}
  </h3>
  {props.description && <p>{props.description}</p>}
</a>
