---

---

<nav
  class="z-50 relative w-screen flex justify-center items-center bg-sky-800 text-white"
>
  <button class="nav-button">Featured Topics</button>
  <div id="nav-a" class="nav-group hidden absolute left-0 w-full bg-red-300 top-5">
    <ul>
      <li>
        <a href="#">Example Link 1</a>
        <a href="#">Example Link 2</a>
        <a href="#">Example Link 3</a>
      </li>
    </ul>
  </div>
  <button id="nav-b" class="nav-button">Featured Topics</button>
  <div class="nav-group hidden absolute left-0 w-full bg-red-300 top-5">
    <ul>
      <li>
        <a href="#">Example Link B</a>
        <a href="#">Example Link B</a>
        <a href="#">Example Link B</a>
      </li>
    </ul>
  </div>
  <button class="nav-button">Featured Topics</button>
  <div class="nav-group hidden absolute left-0 w-full bg-red-300 top-5">
    <ul>
      <li>
        <a href="#">Example Link C</a>
        <a href="#">Example Link C</a>
        <a href="#">Example Link C</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  // todo - can we fall back to hover where there is no javascript
  const navButton = document.querySelector(".nav-button");
  const navGroup = document.querySelector(".nav-group");

  if (navButton && navGroup) {
    navButton.addEventListener("click", () => {
      navGroup.classList.toggle("hidden");
      navGroup.classList.toggle("flex");
    });
  }

  document.addEventListener("click", (event) => {
    const targetEl = event.target as Element;

    if (!targetEl.closest(".nav-button")) {
      navGroup?.classList.remove("flex");
      navGroup?.classList.add("hidden");
    }
  });
</script>
