---
interface Props {
  title: string;
  children: any;
}

const { title } = Astro.props;
---

<div class="group">
  <span class="px-5 py-3 group-hover:underline">{title}</span>
  <div
    class="hidden group-hover:flex flex-col absolute left-0 p-5 w-full bg-blue-800"
  >
    <div class="pb-4">
      <h3 class="font-serif font-semibold text-2xl">{title}</h3>
    </div>
    <slot />
  </div>
</div>
