---
import { wgmDesignSystem as ds } from '@common/design-system' 
import { getImageUrlBuilder } from '@common/client'
import type { Person } from '@model/person'
import PortableTextContentBlock from './PortableTextContentBlock.astro'
import Heading from './primitives/Heading.astro'

interface Props {
  person: Person
}

const {person} = Astro.props
---

<div
  class:list={[
    "px-6 py-4 grid grid-cols-[2fr_1fr] grid-rows-[auto_1fr] gap-4",
  ]}
>
  <div class="self-center">
    <Heading as="h3" size="xl2">
      {person.fullName}
    </Heading>
    <p
      class:list={[
        ds.typography.color.neutral.default,
        "font-serif italic",
      ]}
    >
      {person.role}
    </p>
  </div>
  <div
    class:list={[
      "rounded-full w-24 sm:w-36",
      "sm:place-self-center",
      "sm:row-span-2",
    ]}
  >
    {person.avatar && (
      <img
        class="rounded-full w-24 sm:w-36",
        src={getImageUrlBuilder(person.avatar)
          .width(200)
          .height(200)
          .url()}
      />
    )}
  </div>
  <PortableTextContentBlock classList={["col-span-2 sm:col-span-1 font-serif"]} portableText={person.bio} />
</div>
</div>