---
import type { TopicContentBlock } from "@model/contentBlock";

import Card from "./primitives/Card.astro";
import CMSImage from "./primitives/CMSImage.astro";
import Heading from "./primitives/Heading.astro";
import Text from "./primitives/Text.astro";

interface Props {
  topics: Array<TopicContentBlock>;
}

const props = Astro.props;
---

<div>
  {
    (
      <div
        class:list={[
          "grid grid-cols-1 gap-4",
          "sm:grid-cols-2",
          "lg:grid-cols-3",
        ]}
      >
        {props.topics.map((topicContentBlock) => (
          <Card hoverable>
            <a href={topicContentBlock.topic.slug} class="block h-full">
              {topicContentBlock.showImage && (
                <CMSImage image={topicContentBlock.topic.image} />
              )}
              <div class="p-3">
                <Heading as="h3" class="mb-1">
                  {topicContentBlock.displayTitle ??
                    topicContentBlock.topic.title}
                </Heading>
                {topicContentBlock.showDescription && (
                  <Text>{topicContentBlock.topic.description}</Text>
                )}
              </div>
            </a>
          </Card>
        ))}
      </div>
    )
  }
</div>
