---
import type { TopicContentBlock } from "@model/contentBlock";

import { getCategoryTree } from "@common/category";

import MainNavRecursiveCategoryTree from "./MainNavRecursiveCategoryTree.astro";
import MainNavLink from "./MainNavLink.astro";
import CMSImage from "@ui/primitives/CMSImage.astro";
import Text from "@ui/primitives/Text.astro";

interface Props {
  topicContentBlock: TopicContentBlock;
}

const { topicContentBlock } = Astro.props;

const categoryTreeItems = await getCategoryTree(topicContentBlock.topic.slug);

console.log(topicContentBlock.topic.slug);
---

<div>
  {
    topicContentBlock.showImage && (
      <div class="mb-3">
        <CMSImage image={topicContentBlock.topic.image} />
      </div>
    )
  }
  {
    topicContentBlock.showSubtopics ? (
      <MainNavRecursiveCategoryTree categories={categoryTreeItems} />
    ) : (
      <>
        <MainNavLink
          label={
            topicContentBlock.displayTitle ?? topicContentBlock.topic.title
          }
          href={`/${topicContentBlock.topic.slug}`}
        />
        {topicContentBlock.showDescription && (
          <Text>{topicContentBlock.topic.description}</Text>
        )}
      </>
    )
  }
</div>
