---
import type { HTMLAttributes } from "astro/types";
import type { StyleVariant, StyleVariantClassListMap } from "@common/variants";
import { wgmDesignSystem as ds } from "@common/design-system";

interface Props extends HTMLAttributes<"a"> {
  label: string;
  variant?: StyleVariant;
  colorVariant?: "default" | "contrast";
}

const {
  label,
  colorVariant = "default",
  variant = "primary",
  ...attrs
} = Astro.props;

const hoverClass =
  colorVariant === "default"
    ? ds.decoration.color?.primary.hover
    : ds.decoration.color?.primary.contrastHover;

const baseClassList = [
  "block",
  "mb-1",
  ds.typography.color?.primary?.[colorVariant],
  "font-serif",
  "underline underline-offset-4",
  hoverClass,
  "transition",
];

const styleVariantClassListMap: StyleVariantClassListMap = {
  primary: ["text-lg font-semibold"],
  secondary: ["decoration-dotted"],
  tertiary: ["decoration-dotted"],
};
---

<a
  {...attrs}
  class:list={[...baseClassList, ...styleVariantClassListMap[variant]]}
>
  {label}
</a>
