---
import CollapsibleContentNew from "@ui/Collapsible/CollapsibleContentNew.astro";
import CollapsibleContentButton from "@ui/Collapsible/CollapsibleContentButton.astro";
import CollapsibleContentContent from "@ui/Collapsible/CollapsibleContentContent.astro";

import { buildCategoryTree, type CategoryTreeItem } from "@common/category";
import { getCategories, getFeaturedTopics } from "@common/client";
import { wgmDesignSystem as ds } from "@common/design-system";
import MainNavLink from "./MainNavLink.astro";
import MainNavRecursiveCategoryTree from "./MainNavRecursiveCategoryTree.astro";
import CollapsibleContentCloseButton from "@ui/Collapsible/CollapsibleContentCloseButton.astro";
import MainNavButton from "./MainNavButton.astro";

const featuredTopics = await getFeaturedTopics();

const categories = await getCategories();
const masterCategoryTree: CategoryTreeItem[] = buildCategoryTree(categories);

const typesOfLoss = masterCategoryTree.find(
  (rootCategory) => rootCategory.slug === "types-of-loss"
);

const supportingTheBereaved = masterCategoryTree.find(
  (rootCategory) => rootCategory.slug === "supporting-the-bereaved"
);

const navButtonClassList = ["block", "w-full md:w-auto"];

const navContentClassList = [
  "md:absolute md:top-full md:left-0 md:right-0",
  "bg-blue-800",
  "md:shadow-xl",
  "transition ease-in-out duration-300 opacity-0",
];

const navContentContainerClassList = ["pt-3 pb-6 px-3 xl:container xl:mx-auto"];
---

{/* Mobile Nav Only */}
<CollapsibleContentNew>
  <CollapsibleContentButton
    slot="button"
    class:list={[
      "flex items-center mr-3",
      "md:hidden",
      ds.typography.color?.primary.contrast,
      "w-6",
    ]}
  >
    <span class="sr-only">
      {"Menu"}
    </span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        fill="currentColor"
        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
      ></path>
    </svg>
  </CollapsibleContentButton>
  <CollapsibleContentContent
    slot="content"
    class:list={[
      "fixed inset-0 bg-blue-900",
      "max-h-full overflow-y-auto overscroll-none",
      "md:flex md:justify-between",
      "md:static",
    ]}
  >
    <CollapsibleContentCloseButton class:list={["w-full h-20", "md:hidden"]}>
      <div class="w-full flex justify-end items-center space-x-2 p-3 py-6">
        <span
          class:list={[
            "block",
            "font-serif italic text-2xl",
            ds.typography.color?.primary.contrast,
          ]}
        >
          {"Close"}
        </span>
        <div class:list={["w-6", ds.typography.color?.primary.contrast]}>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              fill="currentColor"
              d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
            ></path>
          </svg>
        </div>
      </div>
    </CollapsibleContentCloseButton>

    {
      /* 
        Start of Main Nav 
        */
    }

    <CollapsibleContentNew>
      <CollapsibleContentButton
        slot="button"
        class:list={[...navButtonClassList]}
      >
        <MainNavButton label="Featured Topics" />
      </CollapsibleContentButton>
      <CollapsibleContentContent
        slot="content"
        class:list={[...navContentClassList]}
      >
        <div class:list={[...navContentContainerClassList]}>
          <ul>
            {
              featuredTopics.map((topic) => (
                <li>
                  <MainNavLink
                    href={`/${topic.slug}`}
                    label={topic.title}
                    variant="secondary"
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </CollapsibleContentContent>
    </CollapsibleContentNew>
    <CollapsibleContentNew>
      <CollapsibleContentButton
        slot="button"
        class:list={[...navButtonClassList]}
      >
        <MainNavButton label="Types of Loss" />
      </CollapsibleContentButton>
      <CollapsibleContentContent
        slot="content"
        class:list={[...navContentClassList]}
      >
        <div
          class:list={[
            ...navContentContainerClassList,
            "md:flex md:space-x-16",
          ]}
        >
          {
            typesOfLoss?.children.map((c) => (
              <MainNavRecursiveCategoryTree categories={[c]} />
            ))
          }
        </div>
      </CollapsibleContentContent>
    </CollapsibleContentNew>
    <CollapsibleContentNew>
      <CollapsibleContentButton
        slot="button"
        class:list={[...navButtonClassList]}
      >
        <MainNavButton label="Supporting the Bereaved" />
      </CollapsibleContentButton>
      <CollapsibleContentContent
        slot="content"
        class:list={[...navContentClassList]}
      >
        <div
          class:list={[
            ...navContentContainerClassList,
            "md:flex md:justify-between",
          ]}
        >
          {
            supportingTheBereaved?.children
              .filter((c) => c.children.length > 0)
              .map((c, i) => (
                <div class="mb-3">
                  <MainNavRecursiveCategoryTree categories={[c]} />
                  {i + 1 === c.children.length ? (
                    <ul class="border-t-2 mt-6 pt-6">
                      <h3
                        class:list={[
                          "text-xl font-semibold",
                          "mb-2",
                          "text-stone-50 font-serif",
                        ]}
                      >
                        Specific Support Topics
                      </h3>
                      <p
                        class:list={[
                          "text-xl font-light text-stone-50 font-serif italic",
                          "pb-6",
                        ]}
                      >
                        A selection of topics focussing on providing specific
                        support.
                      </p>
                      {supportingTheBereaved?.children
                        .filter((c) => c.children.length === 0)
                        .map((c) => (
                          <li>
                            <MainNavLink
                              href={`/${c.slug}`}
                              label={c.title}
                              variant="secondary"
                            />
                          </li>
                        ))}
                    </ul>
                  ) : null}
                </div>
              ))
          }
        </div>
      </CollapsibleContentContent>
    </CollapsibleContentNew>
    <a href="#" class:list={[...navButtonClassList]}>
      <span
        class:list={[
          "py-1 px-3",
          "flex w-full items-start justify-between",
          "md:w-auto md:",
          "text-stone-50",
          "text-xl md:text-base",
          "font-serif font-semibold",
        ]}>About Us</span
      >
    </a>
    <a href="#" class:list={[...navButtonClassList]}>
      <span
        class:list={[
          "py-1 px-3",
          "flex w-full items-start justify-between",
          "md:w-auto md:",
          "text-stone-50",
          "text-xl md:text-base",
          "font-serif font-semibold",
        ]}>Contribute</span
      >
    </a>
  </CollapsibleContentContent>
</CollapsibleContentNew>
