---
import type { TopicContentBlock } from "@model/contentBlock";

import CMSImage from "@ui/primitives/CMSImage.astro";
import Text from "@ui/primitives/Text.astro";

import MainNavLink from "./MainNavLink.astro";
import MainNavRecursiveTopicTree from "./MainNavRecursiveTopicTree.astro";
import Card from "@ui/primitives/Card.astro";

interface Props {
  topicContentBlock: TopicContentBlock;
}

const { topicContentBlock } = Astro.props;
---

<div>
  {
    topicContentBlock.showSubtopics ? (
      <MainNavRecursiveTopicTree topic={topicContentBlock.topic} />
    ) : (
      <>
        <MainNavLink
          label={
            topicContentBlock.displayTitle ?? topicContentBlock.topic.title
          }
          href={`/${topicContentBlock.topic.slug}`}
        />
        {topicContentBlock.showDescription && (
          <Text>{topicContentBlock.topic.description}</Text>
        )}
      </>
    )
  }
  {
    topicContentBlock.showImage && topicContentBlock.topic.image && (
      <Card disableBorder additiveClasses={["p-2 my-3"]}>
        <CMSImage image={topicContentBlock.topic.image} />
      </Card>
    )
  }
</div>
