---
import type { InternetResourceType } from "@content/model/internetResource";
import { resourceTypeToCollectionKeyMap } from "@content/collections";

import { assertNever } from "@ui/utils/ts-utils";

import FeaturedApp from "./FeaturedApp.astro";
import FeaturedResource from "./FeaturedResource.astro";

interface Props {
  resourceRef: string;
  resourceType: InternetResourceType;
  fullHeight?: boolean;
}

const props = Astro.props;

const safeCollectionKey = resourceTypeToCollectionKeyMap[props.resourceType];
if (!safeCollectionKey) {
  throw new Error(
    `[FeaturedResource] could not match "${props.resourceType}" to a collection`,
  );
}
---

{
  () => {
    switch (safeCollectionKey) {
      case "apps":
        return (
          <FeaturedApp
            appRef={{
              collection: "apps",
              id: props.resourceRef,
            }}
          />
        );
      case "articles":
      case "blogs":
      case "communities":
      case "courses":
      case "forums":
      case "memorials":
      case "printedMaterials":
      case "stories":
      case "videos":
      case "webinars":
        return (
          <FeaturedResource
            fullHeight={props.fullHeight}
            resourceRef={{
              collection: safeCollectionKey,
              id: props.resourceRef,
            }}
          />
        );

      case "books":
      case "peerSupports":
      case "supportGroups":
      case "therapyResources":
      case "listicles":
      case "crisisResources":
      case "essentialServices":
      case "externalOrgs":
      case "podcasts":
      case "podcastEpisodes":
        return <div>[[TODO]]</div>;
      default:
        assertNever(safeCollectionKey);
    }
  }
}
