---
import startCase from "lodash/startCase";

import type { InternetResourceEntries } from "@content/collections";

import Stack from "@ui/base/Stack.astro";
import Typography from "@ui/base/Typography.astro";

import InternetResourceListingRenderer from "./InternetResourceListingRenderer.astro";

interface Props {
  internetResources: InternetResourceEntries;
}

const props = Astro.props;
---

{
  Object.entries(props.internetResources).map(
    ([resourceType, resourceEntries]) => (
      <Stack
        as="section"
        spacing={4}
        id={resourceType}
        data-resource-section={resourceType}
      >
        <Typography as="h2" variant="title-2">
          {startCase(resourceType)}
        </Typography>

        <Stack spacing={4}>
          {resourceEntries.map((entry) => (
            <div class="not-last:border-b pb-6 border-b-line-coolNeutral--default">
              <InternetResourceListingRenderer entry={entry} />
            </div>
          ))}
        </Stack>
      </Stack>
    ),
  )
}
