---
import type { Person } from "@model/person";
import PortableTextContentBlock from "@ui/typography/PortableTextContentBlock.astro";
import Subtitle from "@ui/primitives/Subtitle.astro";

interface Props {
  person: Person;
}

const { person } = Astro.props;
---

<div>
  <div class:list={["border-b-2 border-indigo-500/25 mb-3"]}>
    <h1 class:list={["font-serif text-sky-800 text-2xl"]}>
      {person.fullName}
    </h1>
    <Subtitle class:list={"mb-2"}>{person.role}</Subtitle>
  </div>
  {
    person.shortBio && (
      <PortableTextContentBlock portableText={person.shortBio} />
    )
  }
</div>
