---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<a
  class:list={[
    "carousel-control",
    "font-serif italic font-bold text-sm",
    "flex items-center justify-center w-7 h-7 rounded-full",
    "bg-slate-300",
    "border-2",
    "text-sky-900 border-sky-900/25 bg-transparent hover:border-sky-900/50 hover:bg-white active:bg-white focus:bg-white",
  ]}
  href={`#${id}--carousel-item`}
>
  <slot />
</a>
