---
import { getEntries, type CollectionEntry } from "astro:content";

import Button from "@ui/base/Button.astro";
import Spacer from "@ui/base/Spacer.astro";
import Typography from "@ui/base/Typography.astro";

import PageHeaderLayout from "@ui/layouts/PageHeaderLayout.astro";

import ExploreLinks from "@ui/composite/ExploreLinks.astro";

interface Props {
  categoryEntryData: CollectionEntry<"categories">["data"];
  parentCategory?: CollectionEntry<"categories">;
}

const { categoryEntryData, parentCategory } = Astro.props;

let resolvedSubcategories: Array<CollectionEntry<"categories">> | null = null;
if (categoryEntryData.subcategories.length > 0) {
  const c = await getEntries(categoryEntryData.subcategories);
  resolvedSubcategories = c;
}
---

<PageHeaderLayout
  surfaceVariant="primaryContrast"
  surfaceVariantKey={1}
  image={categoryEntryData.image}
>
  <Spacer marginBottom={3}>
    <Typography
      marginBottom={2}
      as="h1"
      variant="title-1"
      colorVariant="primaryContrast"
    >
      {categoryEntryData.displayTitle ?? categoryEntryData.title}
    </Typography>
    {
      categoryEntryData.shortDescription && (
        <Typography
          as="p"
          variant="body-2"
          colorVariant="primaryContrast"
          marginBottom={2}
        >
          {categoryEntryData.shortDescription}
        </Typography>
      )
    }
  </Spacer>

  {
    resolvedSubcategories !== null && resolvedSubcategories?.length > 0 && (
      <ExploreLinks
        links={resolvedSubcategories.map((c) => ({
          url: `/${c.data.slug}`,
          label: c.data.title,
        }))}
      />
    )
  }
  {
    parentCategory && (
      <Button
        as="a"
        colorVariant="secondary"
        href={`/${parentCategory.data.slug}`}
        class="inline-block"
      >
        <Typography>
          {"Part of "}
          <strong class="text-bold">
            {parentCategory.data.displayTitle ?? parentCategory.data.title}
          </strong>
        </Typography>
      </Button>
    )
  }
</PageHeaderLayout>
