@import "./tokens.css";
@import "tailwindcss";

@theme {
  /* https://modernfontstacks.com */
  /* Transitional font stack */
  --font-serif: "Charter", "Bitstream Charter", "Sitka Text", "Cambria", serif;
  /* Humanist font stack */
  --font-sans-a:
    "Seravek", "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  /* Classical Humanist */
  --font-sans-b: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;

  /* This wipes out default Tailwind colors */
  --color-*: initial;

  --color-black: var(--token-color-black);

  /* Layout surface */
  --color-layoutSurface-neutral--1: var(--token-color-stone-99);
  --color-layoutSurface-neutral--2: var(--token-color-stone-98);
  --color-layoutSurface-neutral--3: var(--token-color-stone-97);
  --color-layoutSurface-neutral--4: var(--token-color-stone-96);
  --color-layoutSurface-primary--1: var(--token-color-blue-97);
  --color-layoutSurface-primaryContrast--1: var(--token-color-blue-25);
  --color-layoutSurface-secondary--1: var(--token-color-pink-97);
  --color-layoutSurface-tertiary--1: var(--token-color-green-98);

  /* Content surface */
  --color-contentSurface-neutral--muted: var(--token-color-stone-97);
  --color-contentSurface-neutral--default: var(--token-color-stone-98);
  --color-contentSurface-neutral--prominent: var(--token-color-stone-99);
  --color-contentSurface-primary--muted: var(--token-color-blue-97);
  --color-contentSurface-primary--default: var(--token-color-blue-95);
  --color-contentSurface-primary--prominent: var(--token-color-blue-91);
  --color-contentSurface-primaryContrast--muted: var(--token-color-blue-52);
  --color-contentSurface-primaryContrast--default: var(--token-color-blue-42);
  --color-contentSurface-primaryContrast--prominent: var(--token-color-blue-30);
  --color-contentSurface-secondary--muted: var(--token-color-pink-97);
  --color-contentSurface-secondary--default: var(--token-color-pink-95);
  --color-contentSurface-secondary--prominent: var(--token-color-pink-87);
  --color-contentSurface-tertiary--muted: var(--token-color-green-98);
  --color-contentSurface-tertiary--default: var(--token-color-green-95);
  --color-contentSurface-tertiary--prominent: var(--token-color-green-90);
  --color-contentSurface-donate--muted: var(--token-color-aqua-90);
  --color-contentSurface-donate--default: var(--token-color-aqua-80);
  --color-contentSurface-donate--prominent: var(--token-color-aqua-70);

  --color-onSurface-coolNeutral--default: var(--token-color-blue-30);
  --color-onSurface-coolNeutral--muted: var(--token-color-slate-62);
  --color-onSurface-warmNeutral--default: var(--token-color-brown-46);
  --color-onSurface-warmNeutral--muted: var(--token-color-brown-58);
  --color-onSurface-primary--default: var(--token-color-blue-30);
  --color-onSurface-primary--muted: var(--token-color-blue-55);
  --color-onSurface-primaryContrast--default: var(--token-color-stone-98);
  --color-onSurface-primaryContrast--muted: var(--token-color-stone-98);
  --color-onSurface-secondary--default: var(--token-color-blue-30);
  --color-onSurface-secondary--muted: var(--token-color-blue-55);
  --color-onSurface-tertiary--default: var(--token-color-blue-30);
  --color-onSurface-tertiary--muted: var(--token-color-blue-55);

  --color-line-primary--muted: var(--token-color-blue-91);
  --color-line-primary--default: var(--token-color-blue-89);
  --color-line-primary--prominent: var(--token-color-blue-79);
  --color-line-neutral--muted: var(--token-color-brown-90);
  --color-line-neutral--default: var(--token-color-brown-80);
  --color-line-neutral--prominent: var(--token-color-brown-70);
  --color-line-coolNeutral--muted: var(--token-color-slate-95);
  --color-line-coolNeutral--default: var(--token-color-slate-88);
  --color-line-secondary--muted: var(--token-color-pink-92);
  --color-line-secondary--default: var(--token-color-pink-87);
  --color-line-secondary--prominent: var(--token-color-pink-80);
  --color-line-tertiary--muted: var(--token-color-green-90);
  --color-line-tertiary--default: var(--token-color-green-87);
  --color-line-tertiary--prominent: var(--token-color-green-79);
  --color-line-brand--accent: var(--token-color-cornflower-yellow);
}
