@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Source Serif";
    font-weight: 100 900;
    font-style: normal;
    font-stretch: normal;
    src:
      url("/fonts/SourceSerif4Variable-Roman.otf.woff2")
        format("woff2-variations"),
      url("/fonts/SourceSerif4Variable-Roman.otf.woff")
        format("woff-variations");
  }

  @font-face {
    font-family: "Source Serif";
    font-weight: 100 900;
    font-style: italic;
    font-stretch: normal;
    src:
      url("/fonts/SourceSerif4Variable-Italic.otf.woff2")
        format("woff2-variations"),
      url("/fonts/SourceSerif4Variable-Italic.otf.woff")
        format("woff-variations");
  }
}

/* https://modernfontstacks.com */
@theme {
  /* Transitional font stack */
  --font-serif: "Source Serif", "Charter", "Bitstream Charter", "Sitka Text",
    "Cambria", serif;
  /* Humanist font stack */
  --font-sans: "Optima", "Candara", "Noto Sans", source-sans-pro, sans-serif;
  /* Neo-grotesque font stack */
  --font-ng: "Inter", "Roboto", "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

.wgm-text-pretty {
  text-wrap: pretty;
}

@supports not (text-wrap: pretty) {
  .wgm-text-pretty {
    text-wrap: balance; /* Fallback for Safari */
  }
}
