---
import type { SanityImage } from "@content/model/image";

import type {
  SurfaceColorVariant,
  LayoutSurfaceVariantKey,
} from "@styles/utils/color";

import LayoutSurface from "@ui/base/LayoutSurface.astro";
import SanityImageComp from "@ui/base/SanityImage.astro";

interface Props {
  surfaceVariant: SurfaceColorVariant;
  surfaceVariantKey: LayoutSurfaceVariantKey;
  image: SanityImage | null;
}

const { surfaceVariant, surfaceVariantKey, image } = Astro.props;

const hasFooter = Astro.slots.has("footer");
---

<LayoutSurface
  as="header"
  colorVariant={surfaceVariant}
  colorVariantKey={surfaceVariantKey}
>
  <div class="md:grid md:grid-cols-2 md:min-h-100">
    <div class="md:order-2 md:relative">
      <SanityImageComp
        classList={["md:absolute md:inset-0 md:h-full md:w-full"]}
        objectFit="cover"
        image={image}
      />
    </div>
    <div class="md:order-1">
      <div class:list={["md:h-full md:flex md:flex-col"]}>
        <div class:list={["md:h-full", "md:flex md:items-center"]}>
          <div
            class="px-8 py-12 md:flex md:items-center md:justify-end md:grow"
          >
            <div class="basis-100">
              <slot />
            </div>
          </div>
        </div>
        {hasFooter && <slot name="footer" />}
      </div>
    </div>
  </div>
</LayoutSurface>
