---
import type { SanityImage } from "@content/model/image";

import type {
  SurfaceColorVariant,
  LayoutSurfaceVariantKey,
} from "@styles/utils/color";

import LayoutSurface from "@ui/base/LayoutSurface.astro";
import SanityImageComp from "@ui/base/SanityImage.astro";

interface Props {
  surfaceVariant: SurfaceColorVariant;
  surfaceVariantKey: LayoutSurfaceVariantKey;
  image: SanityImage | null;
}

const { surfaceVariant, surfaceVariantKey, image } = Astro.props;
---

<LayoutSurface
  as="header"
  variant={surfaceVariant}
  variantKey={surfaceVariantKey}
>
  <div class="md:grid md:grid-cols-2 md:min-h-100">
    <div class="md:order-2 md:relative">
      <SanityImageComp
        classList={["md:absolute md:inset-0 md:h-full md:w-full"]}
        objectFit="cover"
        image={image}
      />
    </div>
    <div class="md:order-1">
      <slot />
    </div>
  </div>
</LayoutSurface>
