---
import "@styles/main.css";

import SiteHeader from "@ui/composites/SiteHeader.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why Grief Matters</title>
  </head>

  <body
    class:list={[
      "min-h-screen",
      "flex flex-col",
      "bg-layoutSurface-neutral--1",
      "text-onSurface-primary--default",
    ]}
  >
    <header
      class:list={["border-t-6 md:border-t-12 border-line-brand--accent"]}
    >
      <SiteHeader />
      <slot name="in-header" />
    </header>
    <main class="grow">
      <slot />
    </main>
    <footer>
      {/* Footer content will always be the same */}
    </footer>
  </body>
</html>
