---
import SiteHeader from "@ui/composites/SiteHeader.astro";
import Shell from "./Shell.astro";
---

<Shell>
  <header class:list={["border-t-6 md:border-t-12 border-line-brand--accent"]}>
    <SiteHeader />
    <slot name="in-header" />
  </header>
  <main data-pagefind-body class="grow">
    <slot />
  </main>
</Shell>
