---
import { wgmDesignSystem as ds } from "@common/design-system";
import type { ExtendedResourceType } from "@model/internetResource";

interface Props {
  hoverable?: boolean;
  resourceType?: ExtendedResourceType | null;
  fullHeight?: boolean;
  disableBorder?: boolean;
  additiveClasses?: Array<string>;
}

const props = Astro.props;

const themeContextKey = props.hoverable ? "hover" : "default";

const borderColorClass = props.resourceType
  ? ds.border.color?.resourceType?.[props.resourceType]?.[themeContextKey]
  : ds.border.color?.primary?.[themeContextKey];
---

<div
  class:list={[
    props.fullHeight ? "h-full" : null,
    "bg-white",
    props.disableBorder ? null : "border-b-4",
    borderColorClass,
    "shadow-md",
    ...(props.hoverable ? ["hover:shadow-lg transition-all"] : []),
    ...(props.additiveClasses ?? []),
  ]}
>
  <div
    class:list={[
      "border border-b-0 border-slate-100",
      props.fullHeight ? "h-full" : null,
    ]}
  >
    <slot />
  </div>
</div>
