---
import { wgmDesignSystem as ds } from "@common/design-system";
import type { InternetResourceType } from "@model/internetResource";

interface Props {
  hoverable?: boolean;
  resourceType?: InternetResourceType;
  fullHeight?: boolean;
}

const props = Astro.props;

const themeContextKey = props.hoverable ? "hover" : "default";

const borderColorClass = props.resourceType
  ? ds.border.color?.resourceType?.[props.resourceType]?.[themeContextKey]
  : ds.border.color?.primary?.[themeContextKey];
---

<div
  class:list={[
    props.fullHeight ? "h-full" : null,
    "bg-white",
    "border-b-4",
    borderColorClass,
    "shadow-md",
    ...(props.hoverable ? ["hover:shadow-lg transition-all"] : []),
  ]}
>
  <div class:list={["border border-b-0 border-slate-100 h-full"]}><slot /></div>
</div>
