---
import {
  paddingXSettingMap,
  paddingYSettingMap,
  type SpaceSetting,
} from "@ui/utils/spacing";

type ContainerSize = 1 | 2;
const containerSizeToTWClass: Record<ContainerSize, string> = {
  1: "max-w-4xl",
  2: "max-w-6xl",
};

interface Props {
  size?: ContainerSize;
  paddingX?: SpaceSetting;
  paddingY?: SpaceSetting;
}

const { size, paddingX, paddingY } = Astro.props;
---

<div
  class:list={[
    "mx-auto",
    containerSizeToTWClass[size ?? 1],
    paddingX ? paddingXSettingMap[paddingX] : null,
    paddingY ? paddingYSettingMap[paddingY] : null,
  ]}
>
  <slot />
</div>
