---
type ContainerSize = "md" | "lg";

interface Props {
  size?: ContainerSize;
}

const containerSizeToTWClass: Record<ContainerSize, string> = {
  md: "max-w-4xl",
  lg: "max-w-6xl",
};

const { size = "md" } = Astro.props;
---

<div class:list={[containerSizeToTWClass[size], "mx-auto"]}>
  <slot />
</div>
