---
import words from "lodash/words";

type Props = {
  text: string;
};

const props = Astro.props;
---

<div class="lowercase">
  {
    words(props.text).map((titlePart, i, arr) => {
      switch (true) {
        case i + 1 === arr.length:
          return (
            <span class="font-semibold whitespace-nowrap after:content-['...'] after:whitespace-nowrap after:-ml-1.5 after:font-light">
              {titlePart}
            </span>
          );
        case i > 0:
          return <span class="font-semibold">{` ${titlePart}`}</span>;
        default:
          return titlePart;
      }
    })
  }
</div>
