---
import { wgmDesignSystem as ds } from "@common/design-system";
import type { ExtendedResourceType } from "@model/internetResource";

interface Props {
  label: string;
  resourceType?: ExtendedResourceType;
}

const props = Astro.props;

// Temp until we configure Tailwind properly
const borderClass = props.resourceType
  ? ds.border.color?.resourceType?.[props.resourceType].default
  : ds.border.color.primary.default;
---

<span
  class:list={[
    "block uppercase text-xs tracking-superwide leading-none",
    "mb-2 pl-2",
    "border-l-2",
    "text-slate-500",
    borderClass,
  ]}
>
  {props.label}
</span>
