---
import type { HTMLAttributes } from "astro/types";

import {
  wgmDesignSystem as ds,
  type TypographyColorScheme,
  type TypographyColorSchemeVariant,
  type TypographySize,
} from "@common/design-system";

interface Props extends HTMLAttributes<"a"> {
  colorScheme?: TypographyColorScheme;
  colorSchemeVariant?: TypographyColorSchemeVariant;
  size?: TypographySize;
  external?: boolean;
  underline?: boolean;
  classListOverride?: Array<string>;
}

const {
  colorScheme,
  colorSchemeVariant,
  size,
  external,
  underline = true,
  classListOverride = [],
  ...attrs
} = Astro.props;

const externalLinkAttrs = external
  ? {
      rel: "noopener",
      target: "_blank",
    }
  : {};

const decorationColor =
  colorSchemeVariant === "contrast" ? "contrastHover" : "hover";

const standardClassList = [
  ds.typography.color[colorScheme ?? "primary"][
    colorSchemeVariant ?? "default"
  ],
  ds.decoration.color[colorScheme ?? "primary"][decorationColor],
];
---

<a
  class:list={[
    "font-serif",
    ds.typography.size[size ?? "base"],
    ds.decoration.transition,
    { underline: underline },
    ...(classListOverride ? classListOverride : standardClassList),
  ]}
  {...attrs}
  {...externalLinkAttrs}
>
  <slot />
</a>
