---
import type { HTMLAttributes } from "astro/types";

import {
  wgmDesignSystem as ds,
  type TypographyColorScheme,
  type TypographyColorSchemeVariant,
  type TypographySize,
} from "@common/design-system";

interface Props extends HTMLAttributes<"a"> {
  colorScheme?: TypographyColorScheme;
  colorSchemeVariant?: TypographyColorSchemeVariant;
  size?: TypographySize;
  external?: boolean;
}

const { colorScheme, colorSchemeVariant, size, external, ...attrs } =
  Astro.props;

const externalLinkAttrs = external
  ? {
      rel: "noopener",
      target: "_blank",
    }
  : {};

const decorationColor =
  colorSchemeVariant === "contrast" ? "contrastHover" : "hover";
---

<a
  class:list={[
    "font-serif",
    ds.typography.size[size ?? "base"],
    ds.typography.color[colorScheme ?? "primary"][
      colorSchemeVariant ?? "default"
    ],
    ds.decoration.color[colorScheme ?? "primary"][decorationColor],
    ds.decoration.underline,
    ds.decoration.transition,
  ]}
  {...attrs}
  {...externalLinkAttrs}
>
  <slot />
</a>
