---
import {
  textColorMap,
  textPresetClassMap,
  type OnSurfaceColorVariant,
  type TextPreset,
} from "@ui/utils/styles";

interface Props {
  to: string;
  label?: string;
  variant?: TextPreset;
  color?: OnSurfaceColorVariant;
  external?: boolean;
  textAlign?: "center" | "left";
}

const {
  to,
  label,
  variant = "body-1",
  color = "primary",
  external = false,
  textAlign,
  ...attrs
} = Astro.props;

const externalLinkAttrs = external
  ? {
      rel: "noopener",
      target: "_blank",
    }
  : {};

const decorationColorMap: Record<OnSurfaceColorVariant, string> = {
  primary:
    "decoration-onSurface-primary--default/40 hover:decoration-onSurface-primary--default",
  secondary:
    "decoration-onSurface-secondary--default/40 hover:decoration-onSurface-secondary--default",
  tertiary:
    "decoration-onSurface-tertiary--default/40 hover:decoration-onSurface-tertiary--default",
  coolNeutral:
    "decoration-onSurface-coolNeutral--muted/50 hover:decoration-onSurface-coolNeutral--muted",
  warmNeutral:
    "decoration-onSurface-warmNeutral--default/40 hover:decoration-onSurface-warmNeutral--default",
  primaryContrast:
    "decoration-onSurface-primaryContrast--default/40 hover:decoration-onSurface-primaryContrast--default",
};

const decorationStyle =
  variant === "subtitle-1" ? "decoration-solid" : "decoration-dotted";
---

<a
  class:list={[
    variant.startsWith("t") && "text-balance",
    decorationStyle,
    textPresetClassMap[variant],
    "underline underline-offset-4",
    decorationColorMap[color],
    "transition duration-300",
    variant === "subtitle-1"
      ? textColorMap.coolNeutral.muted
      : textColorMap[color]["default"],
    textAlign && "text-center inline-block",
  ]}
  href={to}
  {...attrs}
  {...externalLinkAttrs}
>
  {label ?? <slot />}
</a>
