---
import type { InternetResourceType } from "@model/internetResource";

import { wgmDesignSystem as ds } from "@common/design-system";

type Props = {
  children: any;
  resourceType?: InternetResourceType;
};

const { resourceType } = Astro.props;

const borderColorClass = resourceType
  ? ds.border.color?.resourceType?.[resourceType as InternetResourceType]
      .default
  : ds.border.color?.primary.default;
---

<span
  class:list={[
    "font-serif italic text-sm",
    ds.typography.color?.primary.default,
    "p-1",
    "bg-white",
    "border-l-4",
    borderColorClass,
    "shadow",
  ]}
>
  <slot />
</span>
