---
import type { ContentGroup } from "@model/contentGroup";

import { getContentGroupPagesData } from "@common/client";

import MainLayout from "@layouts/MainLayout.astro";

import Container from "@ui/primitives/Container.astro";
import PageHeader from "@ui/PageHeader.astro";
import PortableTextContentBlock from "@ui/typography/PortableTextContentBlock.astro";
import ContentBlockRenderer from "@ui/ContentBlockRenderer.astro";

interface Props {
  contentGroup: ContentGroup;
}

export async function getStaticPaths() {
  const contentGroupPages = await getContentGroupPagesData();

  return contentGroupPages.map((cgp) => ({
    params: { contentGroup: cgp.slug },
    props: {
      contentGroup: cgp,
    },
  }));
}

const props = Astro.props;
---

<MainLayout>
  <PageHeader
    pageTitle={{
      title: props.contentGroup.title ?? props.contentGroup.slug ?? "",
    }}
    image={props.contentGroup.image ?? undefined}
  />

  {
    props.contentGroup.description && (
      <PortableTextContentBlock portableText={props.contentGroup.description} />
    )
  }
  {
    props.contentGroup.blocks.map((contentBlock) => (
      <section class="p-3 lg:mb-6 odd:bg-stone-100">
        <Container>
          <ContentBlockRenderer contentBlock={contentBlock} />
        </Container>
      </section>
    ))
  }
  {
    // TODO
    props.contentGroup.jumpLink && <div>[[FOOTER LINK]]</div>
  }
</MainLayout>
