---
import { SignedIn, SignedOut } from "@clerk/astro/components";
import { getClient } from "@common/client";
import {
  getResourceEvaluationDataQuery,
  zResourceEvaluationData,
} from "@model/resourceEvaluation";

import MainLayout from "@layouts/MainLayout.astro";
import AccountButton from "@ui/AccountButton.astro";
import Heading from "@ui/primitives/Heading.astro";
import ResourceEvaluation from "@ui/ResourceEvaluation/ResourceEvaluation.astro";
import TextBlock from "@ui/typography/TextBlock.astro";

const userId = Astro.locals.auth().userId;

const client = getClient(false);

const promise = userId
  ? client
      .fetch(getResourceEvaluationDataQuery(userId))
      .then((result) => zResourceEvaluationData.parse(result))
  : null;

const data = await Promise.resolve(promise);

export const prerender = false;
---

<MainLayout>
  <div class:list={["xl:max-w-screen-lg xl:mx-auto p-3"]}>
    <SignedIn>
      {data && <ResourceEvaluation evaluationData={data} />}
    </SignedIn>
    <SignedOut>
      <Heading as="h1" size="xl5">Contribute</Heading>
      <TextBlock>{"Contribute to the Why Grief Matters project"}</TextBlock>
      <div class="w-64 mt-6">
        <AccountButton />
      </div>
    </SignedOut>
  </div>
</MainLayout>
