---
import { getEntry } from "astro:content";

import Section from "@ui/layouts/Section.astro";
import SitePageLayout from "@ui/layouts/SitePageLayout.astro";

import ContentBlockRenderer from "@ui/composite/content-linked/content-block/ContentBlockRenderer.astro";
import LayoutSurface from "@ui/base/LayoutSurface.astro";
import Container from "@ui/base/Container.astro";
import Stack from "@ui/base/Stack.astro";

const contentGroupEntry = await getEntry({
  collection: "contentGroups",
  id: "donate",
});
if (!contentGroupEntry) {
  throw new Error('Could not get entry for "donate" page');
}
---

<SitePageLayout>
  <Section>
    {
      contentGroupEntry.data.contentBlocks[0] !== undefined && (
        <ContentBlockRenderer
          textAlign="left"
          contentBlockRef={contentGroupEntry.data.contentBlocks[0]}
        />
      )
    }
  </Section>
  <LayoutSurface colorVariantKey={2} paddingY={6}>
    <Container size={2}>
      <div class:list={["md:flex md:justify-evenly"]}>
        <div class:list={["md:basis-1/3 md:*:text-left"]}>
          <Stack spacing={3}>
            {
              contentGroupEntry.data.contentBlocks[0] !== undefined && (
                <ContentBlockRenderer
                  textAlign="left"
                  contentBlockRef={contentGroupEntry.data.contentBlocks[1]}
                />
              )
            }
          </Stack>
        </div>
        <div>
          <dbox-widget
            campaign="why-grief-matters-a-vision-for-tomorrow"
            type="donation_form"
            enable-auto-scroll="true"
          >
          </dbox-widget>
        </div>
      </div>
    </Container>
  </LayoutSurface>
  <Section>
    {
      contentGroupEntry.data.contentBlocks[0] !== undefined && (
        <ContentBlockRenderer
          textAlign="left"
          contentBlockRef={contentGroupEntry.data.contentBlocks[2]}
        />
      )
    }
  </Section>
</SitePageLayout>

<script is:inline type="module" src="https://donorbox.org/widgets.js" async
></script>
