---
import MainLayout from "@layouts/MainLayout.astro";
import { getContentGroup } from "@common/client";
import ContentBlockRenderer from "@ui/ContentBlockRenderer.astro";
import Heading from "@ui/primitives/Heading.astro";
import TextBlock from "@ui/typography/TextBlock.astro";
import type { ContentBlock } from "@model/contentBlock";

const donateContent = await getContentGroup("donate");
---

<MainLayout>
  <div class="xl:max-w-screen-lg xl:mx-auto p-3">
    <Heading as="h1" size="xl5">{donateContent.title}</Heading>
    <TextBlock>
      {donateContent.blocks.length > 0 ? (
        donateContent.blocks.map((contentBlock : ContentBlock) => (
          <section class="p-2 lg:mb-6 odd:bg-stone-100">
            <ContentBlockRenderer contentBlock={contentBlock} />
          </section>
        ))
      ) : (
        <p>{"No content available."}</p>
      )}
    </TextBlock>

    <!-- Donation Button -->
    <div class="mt-8 flex justify-center">
      <a class="dbox-donation-page-button" 
        href="https://donorbox.org/why-grief-matters-a-vision-for-tomorrow?"
        style="background: rgb(7, 40, 141); 
                color: rgb(255, 255, 255); 
                text-decoration: none; 
                font-family: Verdana, sans-serif; 
                display: flex; 
                align-items: center;
                gap: 8px; 
                width: fit-content; 
                font-size: 16px; 
                border-radius: 5px; 
                line-height: 24px; 
                padding: 8px 24px;"
          target="_blank"
          rel="noopener noreferrer">
        <img src="https://donorbox.org/images/white_logo.svg" alt="Donate">
        Donate
      </a>
    </div>
  </div>
</MainLayout>
---

