---
import { getOrganization } from "@lib/sanity";

const org = await getOrganization();
console.log("FM: ", org);
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1 class="text-2xl text-sky-500 font-bold">{org.name}</h1>
    <ul>
      {
        org.coreValues.map((v: any) => (
          <li>
            <>
              <h2>{v.value}</h2>
              <p>{v.description}</p>
            </>
          </li>
        ))
      }
    </ul>
  </body>
</html>
