---
import { paddingXSettingMap } from "@styles/utils/spacing";
import { textPresetClassMap } from "@styles/utils/typography";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  label: string;
}

const { label, ...attrs } = Astro.props;
---

<button
  class:list={[
    textPresetClassMap["subtitle-1"],
    paddingXSettingMap[2],
    "py-1",
    "rounded-full",
    "border",
    "flex items-center gap-1.5",
    "transition-colors duration-300",
  ]}
  {...attrs}
>
  {label}
</button>
