---
import {
  marginBottomMap,
  marginSettingMap,
  paddingBottomMap,
  paddingSettingMap,
  type SpaceSetting,
} from "@styles/utils/spacing";

interface Props {
  padding?: SpaceSetting;
  margin?: SpaceSetting;
  paddingBottom?: SpaceSetting;
  marginBottom?: SpaceSetting;
}

const { paddingBottom, marginBottom, padding, margin } = Astro.props;
---

<div
  class:list={[
    paddingBottom && paddingBottomMap[paddingBottom],
    marginBottom && marginBottomMap[marginBottom],
    padding && paddingSettingMap[padding],
    margin && marginSettingMap[margin],
  ]}
>
  <slot />
</div>
