---
import MobileNav from "@ui/composites/main-nav/MobileNav.astro";
import DesktopNav from "@ui/composites/main-nav/DesktopNav.astro";
import { type CategoryTreeNode, getNavTree } from "./nav-utils";

export type { CategoryTreeNode };

const navTree = await getNavTree();
---

<div class="md:hidden">
  <MobileNav navTree={navTree} />
</div>
<div class="hidden md:block">
  <DesktopNav navTree={navTree} />
</div>
