---
import Stack from "@ui/primitives/Stack.astro";
import Typography from "@ui/primitives/Typography.astro";
import startCase from "lodash/startCase";
import InternetResourceListingRenderer from "./InternetResourceListingRenderer.astro";
import type { InternetResourceEntries } from "@content/collections";

interface Props {
  internetResources: InternetResourceEntries;
}

const props = Astro.props;
---

{
  Object.entries(props.internetResources).map(
    ([resourceType, resourceEntries]) => (
      <>
        <Typography as="h2" variant="title-2">
          {startCase(resourceType)}
        </Typography>

        <Stack spacing={4}>
          {resourceEntries.map((entry) => (
            <div class="not-last:border-b pb-6 border-b-line-coolNeutral--default">
              <InternetResourceListingRenderer entry={entry} />
            </div>
          ))}
        </Stack>
      </>
    ),
  )
}
