---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  classList?: Array<string>;
}

const { classList, ...attrs } = Astro.props;
---

<div
  class:list={["collapsible-content-content hidden", ...(classList ?? [])]}
  {...attrs}
>
  <slot />
</div>

<!--
          Background backdrop, show/hide based on slide-over state.
      
          Entering: "ease-in-out duration-500"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-500"
            From: "opacity-100"
            To: "opacity-0"
        -->
