---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  classList?: Array<string>;
}

const { classList, ...attrs } = Astro.props;
---

<button
  class:list={["collapsible-content-button", ...(classList ?? [])]}
  {...attrs}
>
  <slot />
</button>
