---
import Icon from "@ui/base/Icon.astro";
---

<a
  href="/search"
  class:list={[
    "w-full basis-40 px-3 py-1 border-line-primary--muted",
    "cursor-pointer hover:border-line-primary--default transition-colors",
    "flex items-center gap-1 no-underline",
  ]}
>
  <Icon
    getIcon={(icons) => icons.magnifyingGlass}
    colorVariant="primary"
    display="inline"
  />
  <span>
    {"Search..."}
  </span>
</a>
