---
import "../styles/main.css";

import { wgmDesignSystem as ds } from "@common/design-system";
import SiteFooter from "@ui/SiteFooter.astro";
import SiteHeader from "@ui/SiteHeader.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why Grief Matters</title>
  </head>

  <body
    class:list={[
      "min-h-screen",
      "flex flex-col",
      ds.background.color?.neutral?.defaultLightest,
      ds.typography.color?.primary.default,
    ]}
  >
    <SiteHeader />
    <main class="flex-grow">
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
