---
import { SignedIn, SignedOut } from "@clerk/astro/components";
import "../styles/main.css";

import { wgmDesignSystem as ds } from "@common/design-system";

import AccountButton from "@ui/AccountButton.astro";
import Container from "@ui/primitives/Container.astro";
import Heading from "@ui/primitives/Heading.astro";
import LinkNew from "@ui/primitives/LinkNew.astro";
import SiteFooter from "@ui/SiteFooter.astro";
import SiteHeader from "@ui/SiteHeader.astro";
import TextBlock from "@ui/typography/TextBlock.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why Grief Matters</title>
  </head>

  <body
    class:list={[
      "min-h-screen",
      "flex flex-col",
      ds.background.color?.neutral?.defaultLightest,
      ds.typography.color?.primary.default,
    ]}
  >
    <SiteHeader />
    <main class="flex-grow">
      {/* Temporary login during user testing */}
      {process.env.NODE_ENV === "development" && <slot />}
      {
        process.env.NODE_ENV === "production" && (
          <>
            <SignedIn>
              <slot />
            </SignedIn>
            <SignedOut>
              <Container size="md">
                <div class:list={["p-6"]}>
                  <Heading class:list={"mb-3"}>Site In Development</Heading>
                  <TextBlock>
                    {
                      "This website is currently in the early stages of development and is currently only available to authorized users."
                    }
                  </TextBlock>
                  <TextBlock classList={["mb-7"]}>
                    {
                      "If you have been invited to participate in testing and are not able to log in please "
                    }
                    <LinkNew href="mailto:contact@whygriefmatters.org">
                      {"contact us"}
                    </LinkNew>
                  </TextBlock>
                  <div class="max-w-sm mx-auto">
                    <AccountButton />
                  </div>
                </div>
              </Container>
            </SignedOut>
          </>
        )
      }
    </main>
    <SiteFooter />
  </body>
</html>
