---
import "../styles/main.css";

import { getImageUrl, getLogoSet } from "@common/client";
import MainNav from "@ui/MainNav/MainNav.astro";
import Collapsible from "@ui/Collapsible/CollapsibleContent.astro";
import WhatDoYouNeed from "@ui/WhatDoYouNeed/WhatDoYouNeed.astro";
import MainNavNew from "@ui/MainNav/MainNavNew.astro";
import SiteHeader from "@ui/SiteHeader.astro";

const logoSet = await getLogoSet();

const rawHeaderLogo = logoSet.find((l) => l.variant === "dark-primary");

const headerLogo = rawHeaderLogo
  ? {
      url: getImageUrl(rawHeaderLogo.image).url(),
      alt: "Why Grief Matter home",
    }
  : null;

const rawLightLogo = logoSet?.find((l) => l.variant === "light-secondary");
const lightHeaderLogo = rawLightLogo
  ? {
      url: getImageUrl(rawLightLogo.image).url(),
      alt: "Why Grief Matter home",
    }
  : null;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why Grief Matters</title>
  </head>

  <body class="bg-stone-50 min-h-full p-0 m-0">
    <SiteHeader />
    <!-- <header>
      <a
        href="crisis-resources"
        class:list={[
          "block w-screen py-2",
          "text-center text-yellow-200 bg-blue-800 text-lg",
          "font-serif font-semibold",
        ]}
      >
        Help! I'm in Crisis!
      </a>
      <div class="relative z-20">
        <Collapsible>
          <div
            slot="button"
            class:list={[
              "w-screen py-2",
              "bg-yellow-200 text-blue-800 text-lg",
              "font-serif font-semibold",
            ]}
          >
            What do you need right now?
          </div>
          <div slot="content" class="bg-yellow-200 absolute left-0 right-0">
            <WhatDoYouNeed />
          </div>
        </Collapsible>
        {
          /*
        <button
          type="button"
          class="bg-yellow-200 flex-grow font-serif text-left py-1 px-4 font-semibold text-blue-800"
        >
          What do you need right now?
        </button>
        */
        }
      </div>
      <div class="flex justify-between items-center">
        <a href="/" class="block w-56 ml-6 my-3">
          {
            headerLogo ? (
              <img src={headerLogo.url} alt={headerLogo.alt} />
            ) : (
              <span>Why Grief Matters</span>
            )
          }
        </a>
        {
          /*
        <div class="flex-inline space-x-6 mr-6">
          <input
            class="px-3 py-1 border rounded-full"
            type="text"
            placeholder="Search..."
          />
          <button
            class="text-blue-800 font-semibold bg-teal-200 px-6 py-1 rounded-full"
            >Donate</button
          >
        </div>
        */
        }
      </div>
      {/* <MainNav /> */}
      {/* <MainNavNew /> */}
    </header> -->
    <main>
      <slot />
    </main>
  </body>

  <style>
    /* Let's bring this back later if required */
    html {
      font-size: 18px;
    }
  </style>
</html>
