---
import "../styles/main.css";

import { wgmDesignSystem as ds } from "@common/design-system";
import SiteFooter from "@ui/SiteFooter.astro";
import SiteHeader from "@ui/SiteHeader.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why Grief Matters</title>
  </head>

  <body
    class:list={["min-h-full p-0 m-0", ds.typography.color?.primary.default]}
  >
    <SiteHeader />
    <main>
      <slot />
    </main>
    <SiteFooter />
  </body>
</html>
<style>
  html {
    font-size: 18px;
  }
</style>
