---
import { getImageUrl, getLogoSet } from "@common/client";
import MainNav from "@ui/MainNav/MainNav.astro";

const logoSet = await getLogoSet();

const rawHeaderLogo = logoSet.find((l) => l.variant === "dark-primary");

const headerLogo = rawHeaderLogo
  ? {
      url: getImageUrl(rawHeaderLogo.image).url(),
      alt: "Why Grief Matter home",
    }
  : null;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Why Grief Matters</title>
  </head>
  <body class="bg-stone-50">
    <header>
      <div class="flex justify-between">
        <button
          type="button"
          class="bg-yellow-200 flex-grow font-serif text-left py-1 px-4 font-semibold text-blue-800"
        >
          What do you need right now?
        </button>
        <a
          href="crisis-resources"
          class="bg-blue-800 text-yellow-200 font-serif py-1 px-4 font-semibold"
        >
          Help! I'm in Crisis
        </a>
      </div>
      <div class="flex justify-between items-center">
        <a href="/" class="block w-56 ml-6 my-3">
          {
            headerLogo ? (
              <img src={headerLogo.url} alt={headerLogo.alt} />
            ) : (
              <span>Why Grief Matters</span>
            )
          }
        </a>
        <div class="flex-inline space-x-6 mr-6">
          <input
            class="px-3 py-1 border rounded-full"
            type="text"
            placeholder="Search..."
          />
          <button
            class="text-blue-800 font-semibold bg-teal-200 px-6 py-1 rounded-full"
            >Donate</button
          >
        </div>
      </div>
      <MainNav />
      <main>
        <slot />
      </main>
    </header>
  </body>

  <style>
    /* Let's bring this back later if required */
    /* html {
      font-size: 18px;
    } */
  </style>
</html>
