---
const hasFeatured = Astro.slots.has("featured");
const hasAside = Astro.slots.has("aside");
---

{
  hasFeatured && (
    <section class="bg-slate-200 divide-y py-3">
      <slot name="featured" />
    </section>
  )
}
<section class:list={["flex flex-col-reverse"]}>
  <section>
    <slot name="section" />
  </section>
  {
    hasAside && (
      <aside class="m-3">
        <slot name="aside" />
      </aside>
    )
  }
</section>
