---
import Container from "@ui/primitives/Container.astro";

const hasFeatured = Astro.slots.has("featured");
---

<slot name="header" />
{
  hasFeatured && (
    <section
      class:list={[
        "[&>*:nth-child(odd)]:bg-stone-200 [&>*:nth-child(even)]:bg-stone-100",
        "mx-auto",
      ]}
    >
      <slot name="featured" />
    </section>
  )
}
<Container>
  <section>
    <slot name="section" />
  </section>
</Container>
