---
import { wgmDesignSystem as ds } from "@common/design-system";

const hasFeatured = Astro.slots.has("featured");
const hasAside = Astro.slots.has("aside");

const bgFeaturedColors = [
  ds.background.color?.neutral?.default,
  ds.background.color?.neutral?.defaultDarker,
];
---

<slot name="header" />
{
  hasFeatured && (
    <section
      class:list={[
        // "py-3",
        "[&>*:nth-child(odd)]:bg-stone-200 [&>*:nth-child(even)]:bg-stone-300",
      ]}
    >
      <slot name="featured" />
    </section>
  )
}
<section class:list={["flex flex-col-reverse"]}>
  <section>
    <slot name="section" />
  </section>
  {
    hasAside && (
      <aside class="m-3">
        <slot name="aside" />
      </aside>
    )
  }
</section>
