---
import { wgmDesignSystem as ds } from "@common/design-system";

const hasFeatured = Astro.slots.has("featured");
const hasAside = Astro.slots.has("aside");

const bgFeaturedColors = [
  ds.background.color?.neutral?.default,
  ds.background.color?.neutral?.defaultDarker,
];
---

<slot name="header" />
{
  hasFeatured && (
    <section
      class:list={[
        // "py-3",
        // "lg:max-w-screen-lg lg:mx-auto",
        "[&>*:nth-child(odd)]:bg-stone-200 [&>*:nth-child(even)]:bg-stone-100",
      ]}
    >
      <slot name="featured" />
    </section>
  )
}
<section
  class:list={[
    "flex flex-col-reverse",
    "lg:flex-row lg:justify-between lg:max-w-screen-md lg:mx-auto lg:mt-6",
    "xl:max-w-screen-lg",
  ]}
>
  <section class:list={["lg:grow"]}>
    <slot name="section" />
  </section>
  {
    hasAside && (
      <aside class="m-3">
        <slot name="aside" />
      </aside>
    )
  }
</section>
