---
const hasFeatured = Astro.slots.has("featured");
const hasAside = Astro.slots.has("aside");
---

<slot name="header" />
{
  hasFeatured && (
    <section
      class:list={[
        "[&>*:nth-child(odd)]:bg-stone-200 [&>*:nth-child(even)]:bg-stone-100",
      ]}
    >
      <slot name="featured" />
    </section>
  )
}
<section
  class:list={[
    "lg:flex-row lg:justify-between lg:max-w-screen-md lg:mx-auto lg:mt-6",
    "xl:max-w-screen-lg",
  ]}
>
  <section class:list={["lg:grow"]}>
    <slot name="section" />
  </section>
  {
    hasAside && (
      <aside>
        <slot name="aside" />
      </aside>
    )
  }
</section>
