---
import startCase from "lodash/startCase";

import {
  collectionKeyToResourceTypeMap,
  type InternetResourceCollectionKey,
} from "@content/collections";

import { gapMap } from "@styles/utils/spacing";
import { resourceTypeIconConfigMap } from "@ui/utils/icon";

import Button from "@ui/base/Button.astro";
import ContentSurface from "@ui/base/ContentSurface.astro";
import Icon from "@ui/base/Icon.astro";
import Typography from "@ui/base/Typography.astro";

interface Props {
  resourceTypes: Array<InternetResourceCollectionKey>;
}

const { resourceTypes } = Astro.props;
---

<ContentSurface variant="neutral" prominence="muted" paddingY={3} paddingX={5}>
  <div class="flex justify-between mb-3">
    <Typography
      as="h2"
      variant="title-4"
      colorVariant="warmNeutral"
      set:text="Filter by:"
    />
    <Button
      data-clear-filters
      styleVariant="outlined"
      colorVariant="neutral"
      textVariant="button-1"
      label="Clear Filter"
    />
  </div>
  <div class:list={[gapMap[3], "flex flex-wrap sm:grid sm:grid-cols-3"]}>
    {
      resourceTypes.map((resourceType: InternetResourceCollectionKey) => (
        <Button
          id={`${resourceType}--filter-btn`}
          class:list={[
            "data-active:bg-contentSurface-neutral--prominent",
            "data-active:border-line-neutral--prominent",
            "not-data-active:bg-contentSurface-neutral--muted",
            "not-data-active:border-line-neutral--muted",
          ]}
          data-filter-btn
          data-resource-type={resourceType}
          styleVariant="outlined"
          colorVariant="neutral"
        >
          <span class:list={["flex items-center gap-1.5"]}>
            <Icon
              size={1}
              getIcon={() =>
                resourceTypeIconConfigMap[
                  collectionKeyToResourceTypeMap[resourceType]
                ].icon
              }
              colorVariant={
                resourceTypeIconConfigMap[
                  collectionKeyToResourceTypeMap[resourceType]
                ].colorVariant
              }
            />
            <Typography
              colorVariant={"warmNeutral"}
              variant={"button-2"}
              set:text={startCase(resourceType)}
            />
          </span>
        </Button>
      ))
    }
  </div>
</ContentSurface>
